<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calendar</title>
  </head>
  <body>

    <% if @current_user.present? %>
      Welcome back <%= @current_user.email %>
    <% end %>
<p>hola</p>

  </body>
</html>
