<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calendar</title>
  </head>
  <body>

  <div class="banner">
    <p>
      Keep record of everithing you need.
    </p>
  </div>

  <div class="content">
    <img src="http://people.oregonstate.edu/~calverta/calendar/beyond-cultural-competency-960px.png"></img>

  </div>

  <footer>

  <div class="copyright">
    <p>&copy 2018</p>


  </div>
</footer>



  </body>
</html>
