body {
  background-color: #e0dbe4;
  margin: 0;
  padding: 0;
}


.nav ul {
    list-style-type: none;
    background-color: #17c6b4;
    padding: 0;
    margin: 0;
    text-align: center;

}

.nav li, a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  list-style-type: none;

  border-bottom: 1px solid #888;
  margin-bottom: -20px
}

.nav li, a {
  color: white;
  text-decoration: none;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

@media screen and (min-width: 600px) {
  .nav li, a {
    width: 120px;
    border-bottom: none;
    height: 54px;
    line-height: 50px;
    font-size: 1.4em;
    list-style-type: none;

  }
  .events-nav {
    background-color: #fdba00;
    border-bottom: none;
    height: 55px;
    line-height: 50px;
    font-size: 1em;
    text-decoration: none;
    display: block;
    transition: .3s background-color;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .nav li, a {
    display: inline-block;
    list-style-type: none;

    margin: 0px;
  }
}

.new_user {
  background-color: white;
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em;
  background: #fafafa;
  border: 1px solid black;
}
input {
  background-color: #50BCC6 !important;
  color: #FFFFFF;
  border: none;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

form {
  background-color: white;
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em;
  background: #fafafa;
  border: 1px solid black;
}
h1, h2 {
  text-align: center;
}

img {
  margin: auto;
  padding-left: 100px;
}
p {
  background-color: white;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.events a li {
  height: auto;
  font-size: 20px;
  list-style-type: none;
  display: inline-block;

}

.controls a {
  width: 150px;
  text-align: center;
  padding: 0;
  margin: 0;

}
.controls {
  padding: 0;
  margin: 0;
  border: 1px solid black;
  text-align: center;
  background-color: #17c6b4;
  max-width: 380px;
  margin: 0 auto;
}

.event {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  list-style-type: none;
  font-size: 30px;
  border: 1px solid black;
  margin-top: 10px;
}
ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.placecontrols a {
  font-size: 20px;
  width: 150px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.place li {
  list-style-type: none;
}

div.events {
  max-width: 380px;
  text-align: center;
  margin: 0 auto;
}
.events a {
  background-color: #17c6b4;
  width: 378.5px;
}
div.event {
  max-width: 380px;
  margin: 0 auto;
  padding-top: 10px;
}

.events ul {
  border: 1px solid black;
}

div.places {
  max-width: 380px;
  text-align: center;
  margin: 0 auto;
}
.places a {
  background-color: #17c6b4;
  width: 378.5px;
}
div.place {
  max-width: 380px;
  margin: 0 auto;
  padding-top: 10px;
}

.places ul {
  border: 1px solid black;
}
